<!--<div class="sc-1lz4h6h-0 bvSZRj">-->
<h1>Actualisation</h1>

<!--<div class="sc-1lz4h6h-0 hNbKvD">-->

  <%= form_for(@utilisateur, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="sc-1t6bwmy-0 gswIJF">
      <label for="name" class="sc-1t6bwmy-1 bTPdgy"><span>*</span>Nom</label>
      <div tabindex="-1" class="sc-1i9i8oo-2 fnFWbk">
        <div class="sc-1i9i8oo-3 eAIOkm">
          <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AccountCircleTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
            <title id="AccountCircleTitleID">AccountCircle Icon</title>
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2a7.2 7.2 0 01-6-3.22c.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08a7.2 7.2 0 01-6 3.22z"></path>
          </svg>
        </div>
        <%= f.text_field :nom, class:"flKiqj",  placeholder:"Votre nom"%>
        <div class="sc-1i9i8oo-3 fauTXP"></div>
      </div>
    </div>

    <div class="sc-1t6bwmy-0 gswIJF">
      <label for="name" class="sc-1t6bwmy-1 bTPdgy"><span>*</span>Email</label>
      <div tabindex="-1" class="sc-1i9i8oo-2 fnFWbk">
        <div class="sc-1i9i8oo-3 eAIOkm">
          <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AccountCircleTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
            <title id="AccountCircleTitleID">AccountCircle Icon</title>
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2a7.2 7.2 0 01-6-3.22c.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08a7.2 7.2 0 01-6 3.22z"></path>
          </svg>
        </div>
        <%= f.email_field :email, class:"flKiqj",  placeholder:"Entrer votre email"%>
        <div class="sc-1i9i8oo-3 fauTXP"></div>
      </div>
    </div>

    <div class="sc-1t6bwmy-0 gswIJF">
      <label for="name" class="sc-1t6bwmy-1 bTPdgy"><span>*</span>Mot de passe</label>
      <div tabindex="-1" class="sc-1i9i8oo-2 fnFWbk">
        <div class="sc-1i9i8oo-3 eAIOkm">
          <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="UnlockTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
            <title id="UnlockTitleID">Unlock Icon</title>
            <path d="M12 17a2 2 0 002-2 2 2 0 00-2-2 2 2 0 00-2 2 2 2 0 002 2m6-9a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V10a2 2 0 012-2h1V6a5 5 0 015-5 5 5 0 015 5v2h1m-6-5a3 3 0 00-3 3v2h6V6a3 3 0 00-3-3z"></path>
          </svg>
        </div>
        <%= f.password_field :password , class:"flKiqj",  placeholder:"Entrer votre password"%>
        <div class="sc-1i9i8oo-3 fauTXP"></div>
      </div>
    </div>

    <div class="sc-1t6bwmy-0 gswIJF">
      <label for="name" class="sc-1t6bwmy-1 bTPdgy"><span>*</span>Confirmer le mot de passe</label>
      <div tabindex="-1" class="sc-1i9i8oo-2 fnFWbk">
        <div class="sc-1i9i8oo-3 eAIOkm">
          <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="UnlockTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
            <title id="UnlockTitleID">Unlock Icon</title>
            <path d="M12 17a2 2 0 002-2 2 2 0 00-2-2 2 2 0 00-2 2 2 2 0 002 2m6-9a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V10a2 2 0 012-2h1V6a5 5 0 015-5 5 5 0 015 5v2h1m-6-5a3 3 0 00-3 3v2h6V6a3 3 0 00-3-3z"></path>
          </svg>
        </div>
        <%= f.password_field :password_confirmation, class:"flKiqj",  placeholder:"Entrer votre password"%>
        <div class="sc-1i9i8oo-3 fauTXP"></div>
      </div>
    </div>

    <div class="sc-d3qu79-4 iflOWY">
      <label class="sc-jqz78a-0 bmXJLi">
        <input type="checkbox" class="sc-1nv0bef-0 jSblzA">
        <span class="sc-jqz78a-1 bgOvAz">
                    <p class="sc-1x0vz2r-0 qiQmA">J’ai lu et j’accepte<!-- -->
                      <a class="sc-1cf7u6r-0 kfrvnK" href="https://aide.avito.ma/conditions-generales-dutilisation-du-service-avito/" target="_blank" rel="noopener noreferer">les conditions d’utilisation.</a>
                    </p>
                    <p class="sc-1x0vz2r-0 qiQmA">Et je donne mon accord<!-- -->
                      <a class="sc-1cf7u6r-0 kfrvnK" href="https://aide.avito.ma/traitement-des-donnees-personnelles/" target="_blank" rel="noopener noreferer">au traitement de mes données personnelles.</a>
                    </p>
                  </span>
      </label>
    </div>
    <%= f.submit "Actualiser", class: "btn btn-primary" %>
    <%= link_to "delete", @utilisateur, method: :delete, data: { confirm: "confirmer" }, class: "btn btn-primary" %>


<% end %>

<!--</div>-->
<!--</div>-->