<div class="jumbotron">
  <h1><%= @article.titre %></h1>
  <p><%= @article.description %></p>
  <p>prix:<%= @article.prix %></p>
  <p>category:<%= @article.category %></p>
  <p>adresse:<%= @article.adresse %></p>
  <p>tel:<%= @article.tel %></p>
  <p>etat:<%= @article.etat %></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>