<main class="div11">
  <div class="eEIzaP">
    <div class="jsTYaf">
      <form class="jczeDP">
        <div class="gcDRWi geouWC">
          <div class="div37">
            <div class="div12 div13">
              <div class="hnXISG">
                <div tabindex="-1" class="div29">
                  <div class="div30">
                    <div style="width:24px;height:24px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="SearchLineTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;"><title id="SearchLineTitleID">SearchLine Icon</title><path d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z"></path></svg></div>
                  </div><input type="text" autoComplete="off" name="keyword" placeholder="Que recherchez-vous?" class="flKiqj" />
                  <div class="div31"></div>
                </div>
              </div>
            </div>
            <div class="div12 div13">

              <div><button class="div14" type="button"><svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AllCategoriesTitleID" style="fill: currentcolor; stroke: currentcolor; stroke-width: 0;"><title id="AllCategoriesTitleID">AllCategories Icon</title><g clip-path="url(#a)"><path fill="#00C160" d="M9.047 10.475H1.353C.613 10.475.01 9.87.01 9.123v-7.76C.01.617.61.011 1.352.011h7.694c.74 0 1.34.605 1.34 1.352v7.76c0 .747-.6 1.352-1.34 1.352z"></path><path fill="#009AFA" d="M22.447 10.475h-7.694c-.74 0-1.341-.605-1.341-1.353v-7.76c0-.746.6-1.352 1.34-1.352h7.695c.74 0 1.341.605 1.341 1.353v7.76a1.348 1.348 0 01-1.341 1.352z"></path><path fill="#FF4353" d="M9.045 23.99H1.351c-.74 0-1.341-.605-1.341-1.353v-7.76c0-.745.6-1.352 1.341-1.352h7.694c.74 0 1.341.605 1.341 1.353v7.76c0 .747-.6 1.352-1.34 1.352z"></path><g clip-path="url(#b)"><path fill="#2D2D2D" d="M23.5 18.417a.667.667 0 00-.667-.667h-2.416a.667.667 0 01-.667-.667v-2.416a.667.667 0 00-.667-.667h-1.166a.667.667 0 00-.667.667v2.416a.667.667 0 01-.667.667h-2.416a.667.667 0 00-.667.667v1.166c0 .369.298.667.666.667h2.417c.368 0 .667.299.667.667v2.416c0 .369.298.667.666.667h1.167a.667.667 0 00.667-.667v-2.416c0-.369.298-.667.666-.667h2.417a.667.667 0 00.667-.667v-1.166z"></path></g></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath><clipPath id="b"><path fill="#fff" d="M0 0h11v11H0z" transform="translate(13.5 13)"></path></clipPath></defs></svg><span class="div15">Choisissez une catégorie</span><div style="width:24px;height:24px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div></button>
                <div
                  style="position:absolute;width:100%;max-width:970px;left:0;right:auto" class="div16">
                  <div style="padding:24px 18px 24px 24px">
                    <div class="div17">
                      <div class="div18">
                        <li color="" data-value="{&quot;label&quot;:&quot;Toutes les catégories&quot;,&quot;value&quot;:&quot;0&quot;}" class="div19">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="div20"></div><span>Toutes les catégories</span>
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="div21"></div>
                        </li>
                        <li color="market" data-value="{&quot;label&quot;:&quot;INFORMATIQUE ET MULTIMEDIA&quot;,&quot;value&quot;:&quot;5000&quot;}" class="sc-1x913nh-0 cIaBiM">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="=div26"></div><span>INFORMATIQUE ET MULTIMEDIA</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Téléphones&quot;,&quot;value&quot;:&quot;5010&quot;}" class="div22"><span>Téléphones</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Tablettes&quot;,&quot;value&quot;:&quot;5080&quot;}" class="div22"><span>Tablettes</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Ordinateurs portables&quot;,&quot;value&quot;:&quot;5030&quot;}" class="div22"><span>Ordinateurs portables</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Ordinateurs de bureau&quot;,&quot;value&quot;:&quot;5050&quot;}" class="div22"><span>Ordinateurs de bureau</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Accessoires informatique et Gadgets&quot;,&quot;value&quot;:&quot;5060&quot;}" class="div22"><span>Accessoires informatique et Gadgets</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Jeux vidéo et Consoles&quot;,&quot;value&quot;:&quot;5040&quot;}" class="div22"><span>Jeux vidéo et Consoles</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Appareils photo et Caméras&quot;,&quot;value&quot;:&quot;5070&quot;}" class=" div22"><span>Appareils photo et Caméras</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Télévisions&quot;,&quot;value&quot;:&quot;5090&quot;}" class="div22"><span>Télévisions</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Image &amp; Son&quot;,&quot;value&quot;:&quot;5020&quot;}" class="div22"><span>Image &amp; Son</span></li>
                        <li color="market" data-value="{&quot;label&quot;:&quot;HABILLEMENT ET BIEN ETRE&quot;,&quot;value&quot;:&quot;8000&quot;}" class="div22">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="sc-1x913nh-2 div26"></div><span>HABILLEMENT ET BIEN ETRE</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Vêtements&quot;,&quot;value&quot;:&quot;3050&quot;}" class="div22"><span>Vêtements</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Chaussures&quot;,&quot;value&quot;:&quot;3150&quot;}" class="div22"><span>Chaussures</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Montres et Bijoux&quot;,&quot;value&quot;:&quot;3160&quot;}" class="div22"><span>Montres et Bijoux</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Sacs et Accessoires&quot;,&quot;value&quot;:&quot;3060&quot;}" class="div22"><span>Sacs et Accessoires</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Vêtements pour enfant et bébé&quot;,&quot;value&quot;:&quot;3030&quot;}" class="div22"><span>Vêtements pour enfant et bébé</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Equipements pour enfant et bébé&quot;,&quot;value&quot;:&quot;3130&quot;}" class="div22"><span>Equipements pour enfant et bébé</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Produits de beauté&quot;,&quot;value&quot;:&quot;3070&quot;}" class="div22"><span>Produits de beauté</span></li>
                      </div>
                      <div class="div18">
                        <li color="vehicules" data-value="{&quot;label&quot;:&quot;VEHICULES&quot;,&quot;value&quot;:&quot;2000&quot;}" class="sc-1x913nh-0 iJDmwq">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="sc-1x913nh-2 dTdvoB"></div><span>VEHICULES</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Voitures doccasion&quot;,&quot;value&quot;:&quot;2010&quot;}" class="div22"><span>Voitures occasion</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Location de voitures&quot;,&quot;value&quot;:&quot;2020&quot;}" class="div22"><span>Location de voitures</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Auto neuf&quot;,&quot;value&quot;:&quot;20000&quot;}" class="div22"><span>Auto neuf</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Pièces et Accessoires pour véhicules&quot;,&quot;value&quot;:&quot;2040&quot;}" class="div22"><span>Pièces et Accessoires pour véhicules</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Motos&quot;,&quot;value&quot;:&quot;2030&quot;}" class="div22"><span>Motos</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Vélos&quot;,&quot;value&quot;:&quot;2060&quot;}" class="div22"><span>Vélos</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Engins BTP&quot;,&quot;value&quot;:&quot;2075&quot;}" class="div22"><span>Engins BTP</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Engins Agricole&quot;,&quot;value&quot;:&quot;2073&quot;}" class="div22"><span>Engins Agricole</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Remorques et Caravanes&quot;,&quot;value&quot;:&quot;2072&quot;}" class="div22"><span>Remorques et Caravanes</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Camions&quot;,&quot;value&quot;:&quot;2078&quot;}" class="div22"><span>Camions</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Bateaux&quot;,&quot;value&quot;:&quot;2050&quot;}" class="div22"><span>Bateaux</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Autres véhicules&quot;,&quot;value&quot;:&quot;2081&quot;}" class="div22"><span>Autres véhicules</span></li>
                        <li color="market" data-value="{&quot;label&quot;:&quot;LOISIRS ET DIVERTISSEMENT&quot;,&quot;value&quot;:&quot;4000&quot;}" class="div23">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="sc-1x913nh-2 div26"></div><span>LOISIRS ET DIVERTISSEMENT</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Sports et Loisirs&quot;,&quot;value&quot;:&quot;4010&quot;}" class="div22"><span>Sports et Loisirs</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Animaux&quot;,&quot;value&quot;:&quot;4030&quot;}" class="div22"><span>Animaux</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Instruments de Musique&quot;,&quot;value&quot;:&quot;4070&quot;}" class="div22"><span>Instruments de Musique</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Art et Collections&quot;,&quot;value&quot;:&quot;4060&quot;}" class="div22"><span>Art et Collections</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Voyages et Billetterie&quot;,&quot;value&quot;:&quot;4050&quot;}" class="div22"><span>Voyages et Billetterie</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Films, Livres, Magazines&quot;,&quot;value&quot;:&quot;4040&quot;}" class="div22"><span>Films, Livres, Magazines</span></li>
                      </div>
                      <div class="div18">
                        <li color="re" data-value="{&quot;label&quot;:&quot;IMMOBILIER&quot;,&quot;value&quot;:&quot;1000&quot;}" class="sc-1x913nh-0 lmgWtp">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="sc-1x913nh-2 cFhzHs"></div><span>IMMOBILIER</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Appartements&quot;,&quot;value&quot;:&quot;1010&quot;}" class="div22"><span>Appartements</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Maisons et Villas&quot;,&quot;value&quot;:&quot;1020&quot;}" class="div22"><span>Maisons et Villas</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Immo neuf&quot;,&quot;value&quot;:&quot;10000&quot;}" class="div22"><span>Immo neuf</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Bureaux et Plateaux&quot;,&quot;value&quot;:&quot;1050&quot;}" class="div22"><span>Bureaux et Plateaux</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Locations de vacances&quot;,&quot;value&quot;:&quot;1030&quot;}" class="div22"><span>Locations de vacances</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Magasins, Commerces et Locaux industriels&quot;,&quot;value&quot;:&quot;1060&quot;}" class="div22"><span>Magasins, Commerces et Locaux industriels</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Colocations&quot;,&quot;value&quot;:&quot;1100&quot;}" class="div22"><span>Colocations</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Terrains et Fermes&quot;,&quot;value&quot;:&quot;1080&quot;}" class="div22"><span>Terrains et Fermes</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Autre Immobilier&quot;,&quot;value&quot;:&quot;1090&quot;}" class="div22"><span>Autre Immobilier</span></li>
                        <li color="market" data-value="{&quot;label&quot;:&quot;POUR LA MAISON ET JARDIN&quot;,&quot;value&quot;:&quot;3000&quot;}" class="sc-1x913nh-0 cIaBiM">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="sc-1x913nh-2 div26"></div><span>POUR LA MAISON ET JARDIN</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Electroménager et Vaisselles&quot;,&quot;value&quot;:&quot;3010&quot;}" class="div22"><span>Electroménager et Vaisselles</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Meubles et Décoration&quot;,&quot;value&quot;:&quot;3020&quot;}" class="div22"><span>Meubles et Décoration</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Jardin et Outils de bricolage&quot;,&quot;value&quot;:&quot;3040&quot;}" class="div22"><span>Jardin et Outils de bricolage</span></li>
                        <li color="smoke" data-value="{&quot;label&quot;:&quot;VENTE EN DOUANE&quot;,&quot;value&quot;:&quot;7900&quot;}" class="div24">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="div20"></div><span>VENTE EN DOUANE</span>
                          <div class="sc-1x913nh-3 sCXhc">New</div>
                        </li>
                        <li data-value="{&quot;label&quot;:&quot;Véhicules&quot;,&quot;value&quot;:&quot;7910&quot;}" class="div22"><span>Véhicules</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Immobilier&quot;,&quot;value&quot;:&quot;7920&quot;}" class="div22"><span>Immobilier</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Divers&quot;,&quot;value&quot;:&quot;7930&quot;}" class="div22"><span>Divers</span></li>
                      </div>
                      <div class="div18">
                        <li color="jobs" data-value="{&quot;label&quot;:&quot;EMPLOI ET SERVICES&quot;,&quot;value&quot;:&quot;6000&quot;}" class="sc-1x913nh-0 kIWftm">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="div25"></div><span>EMPLOI ET SERVICES</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Offres demploi&quot;,&quot;value&quot;:&quot;6010&quot;}" class="div22"><span>Offres demploi</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Offres de stages&quot;,&quot;value&quot;:&quot;6130&quot;}" class="div22"><span>Offres de stages</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Centre dappels&quot;,&quot;value&quot;:&quot;6050&quot;}" class="div22"><span>Centre dappels</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Cadres&quot;,&quot;value&quot;:&quot;6080&quot;}" class="div22"><span>Cadres</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Métiers IT&quot;,&quot;value&quot;:&quot;6140&quot;}" class="div22"><span>Métiers IT</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Femmes de Ménages, Nounous et Chauffeurs&quot;,&quot;value&quot;:&quot;6060&quot;}" class="div22"><span>Femmes de Ménages, Nounous et Chauffeurs</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Travaux de maison&quot;,&quot;value&quot;:&quot;6070&quot;}" class="div22"><span>Travaux de maison</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Demandes demploi&quot;,&quot;value&quot;:&quot;6020&quot;}" class="div22"><span>Demandes demploi</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Services&quot;,&quot;value&quot;:&quot;6030&quot;}" class="div22"><span>Services</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Cours et Formations&quot;,&quot;value&quot;:&quot;6040&quot;}" class="div22"><span>Cours et Formations</span></li>
                        <li color="jobs" data-value="{&quot;label&quot;:&quot;ENTREPRISES&quot;,&quot;value&quot;:&quot;9000&quot;}" class="sc-1x913nh-0 kIWftm">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="div25"></div><span>ENTREPRISES</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Business et Affaires commerciales&quot;,&quot;value&quot;:&quot;6100&quot;}" class="div22"><span>Business et Affaires commerciales</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Matériels Professionnels&quot;,&quot;value&quot;:&quot;6090&quot;}" class="div22"><span>Matériels Professionnels</span></li>
                        <li data-value="{&quot;label&quot;:&quot;Stocks et Vente en gros&quot;,&quot;value&quot;:&quot;6120&quot;}" class="div22"><span>Stocks et Vente en gros</span></li>
                        <li color="smoke" data-value="{&quot;label&quot;:&quot;Autres&quot;,&quot;value&quot;:&quot;7000&quot;}" class="div24">
                          <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px" class="div20"></div><span>Autres</span></li>
                        <li data-value="{&quot;label&quot;:&quot;AUTRES&quot;,&quot;value&quot;:&quot;7010&quot;}" class="div22"><span>AUTRES</span></li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div12 div13">
              <div style="position:relative"><button class="div14" type="button">
                <div style="width:24px;height:24px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="MapPinLineTitleID" style="fill: rgb(74, 74, 74); stroke: rgb(74, 74, 74); stroke-width: 0;"><title id="MapPinLineTitleID">MapPinLine Icon</title><path d="M12 20.9l4.95-4.95a7 7 0 10-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1112.728 0L12 23.728zM12 13a2 2 0 100-4 2 2 0 000 4zm0 2a4 4 0 110-8 4 4 0 010 8z"></path></svg></div>
                <span class="sc-13f8628-0 gflrto">Tout le Maroc</span>
                <div style="width:24px;height:24px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div></button>
                <div
                  style="position:absolute;z-index:1035;top:calc(100% + 8px);left:0;width:270px" class="div16">
                  <div class="div26">
                    <div class="div27"><label for="filter-list-input" class="div28">Ville</label>
                      <div tabindex="-1" class="div29">
                        <div class="div30">
                          <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="SearchLineTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
                            <title id="SearchLineTitleID">SearchLine Icon</title>
                            <path d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z"></path>
                          </svg>
                        </div>
                        <input type="text" autoComplete="off" id="filter-list-input" placeholder="Tapez la ville" value="" class="div30" />
                        <div class="div31"></div>
                      </div>
                    </div>
                    <div style="position:relative;height:220px;overflow:auto;-webkit-overflow-scrolling:touch;will-change:transform;direction:ltr">
                      <div style="height:920px;width:100%" data-testid="cities" class="sfdQliD">
                        <div style="position:absolute;left:12px;right:12px;top:48px;height:40px;width:calc(100% - 24px)" class="div32">Villes Populaires</div><button data-filter-value="5" style="position:absolute;left:12px;right:12px;top:88px;height:40px;width:calc(100% - 24px)" class="div33"><div class="div34"><div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div><span data-filter-value="5">Casablanca</span></div></button>  eMjwRj iXyMcQ
                        <button
                          data-filter-value="12" style="position:absolute;left:12px;right:12px;top:128px;height:40px;width:calc(100% - 24px)" class="div33">
                          <div class="div34">
                            <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div><span data-filter-value="12">Rabat</span></div>
                        </button><button data-filter-value="8" style="position:absolute;left:12px;right:12px;top:168px;height:40px;width:calc(100% - 24px)" class="div33"><div class="div34"><div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div><span data-filter-value="8">Marrakech</span></div></button>
                        <button
                          data-filter-value="13" style="position:absolute;left:12px;right:12px;top:208px;height:40px;width:calc(100% - 24px)" class="div33">
                          <div class="div34">
                            <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div><span data-filter-value="13">Agadir</span></div>
                        </button><button data-filter-value="15" style="position:absolute;left:12px;right:12px;top:248px;height:40px;width:calc(100% - 24px)" class="div33"><div class="div34"><div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div><span data-filter-value="15">Tanger</span></div></button>
                        <button
                          data-filter-value="3" style="position:absolute;left:12px;right:12px;top:288px;height:40px;width:calc(100% - 24px)" class="div33">
                          <div class="div34">
                            <div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div><span data-filter-value="3">Fès</span></div>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="div35"><button type="button" class="ewfRkr">Effacer</button><button data-testid="citiesValidator" type="button" class="div36">valider</button></div>
                </div>
              </div>
            </div>
          </div>
          <div class="div37">
            <div class="div38 div13"></div>
            <div class="div12 div13"></div>
          </div>
          <div class="div39">
            <div class="div40">
              <a class="div41">
                <div width="56" height="56" class="div42">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="InformatiqueEtMultimediaTitleID" style="fill: rgb(46, 201, 102); stroke: rgb(46, 201, 102); stroke-width: 0;"><title id="InformatiqueEtMultimediaTitleID">InformatiqueEtMultimedia Icon</title><path fill-rule="evenodd" d="M22.5 7A1.5 1.5 0 0124 8.5v14c0 .826-.671 1.5-1.5 1.5h-7c-.829 0-1.5-.675-1.5-1.5v-14c0-.827.673-1.5 1.5-1.5h7zm-8.937 17H8c.279-2.892 1.559-2.657 2.108-4H13v2.5c0 .524.182 1.175.563 1.5zM7 24H3c-.177-1.993-.667-2.729-1.413-3.408a4.816 4.816 0 01-.002-7.146C2.333 12.766 2.831 11.97 3 10h4c.202 1.97.583 2.766 1.332 3.446a4.828 4.828 0 011.544 2.971h.624v1.166h-.618a4.83 4.83 0 01-1.552 3.009C7.583 21.271 7.154 21.983 7 24zm12-1a1 1 0 110-2 1 1 0 010 2zM5 20.5a3.5 3.5 0 110-7 3.5 3.5 0 010 7zm18-.5V9.976h-8V20h8zM7 18H4v-3h1v2h2v1zM19.5 8h-1a.5.5 0 000 1h1a.5.5 0 000-1zM5 9H3V2a2 2 0 012-2h15a2 2 0 012 2v4h-2V3H5v6z" clip-rule="evenodd"></path></svg></div>
                </div>
                <p class="div43">INFORMATIQUE ET MULTIMEDIA</p>
              </a>
              <a class="div41">
                <div width="56" height="56" class="div44">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="VehiculesTitleID" style="fill: rgb(255, 76, 89); stroke: rgb(255, 76, 89); stroke-width: 0;"><title id="VehiculesTitleID">Vehicules Icon</title><g clip-path="url(#a)"><path d="M22.771 7.306h-.12c-.026-.144-.141-.252-.28-.252a.268.268 0 00-.175.067c-.026-.18-.168-.318-.339-.318-.167 0-.306.132-.337.306a.319.319 0 00-.177-.055c-.19 0-.343.17-.343.377 0 .209.154.378.343.378h1.428c.127 0 .229-.113.229-.252s-.102-.251-.229-.251zm-12.674-.48l2.545.725c.209.06.432.07.65.031l6.635-1.194c.611-.11 1.204-.347 1.685-.742.539-.444.708-.828.657-1.148-.05-.32-.327-.625-.972-.856-.575-.205-1.208-.221-1.819-.111l-2.25.405-3.781-2.807a.366.366 0 00-.347-.123l-1.502.27c-.243.044-.384.303-.28.52l2.452 2.762-2.358.425-1.175-1.069a.367.367 0 00-.316-.09l-.916.165c-.239.043-.38.293-.286.508l.911 1.992c.084.173.28.283.467.337z"></path><path fill-rule="evenodd" d="M3.373 23.352H2.249c-.31 0-.563-.29-.563-.647v-.648c-.297 0-.584-.137-.794-.38a1.402 1.402 0 01-.33-.915V15.58c-.31 0-.562-.29-.562-.647V12.99c0-.358.252-.648.562-.648v-2.59c0-1.074.755-1.943 1.687-1.943h8.994c.932 0 1.687.87 1.687 1.942v2.591c.31 0 .562.29.562.648L12 14.344c0 .358-.613 2.107-.923 2.107l1.853 4.31c0 .344-.12.674-.33.916-.21.243-.497.38-.795.38v.648c0 .357-.252.647-.562.647H10.12c-.31 0-.562-.29-.562-.647v-.648H3.935v.648c0 .357-.252.647-.562.647zM2.53 18.82c.465 0 .843.435.843.971 0 .537-.378.972-.843.972-.466 0-.844-.436-.844-.972s.378-.971.844-.971zm8.713-1.01c.466 0 1.257 1.563.562 1.981 0 .537-.377.972-.843.972-.465 0-1.462-1.357-1.462-1.893 0-.537 1.278-1.06 1.743-1.06zm-3.092 1.657h-2.81c-.156 0-.282.145-.282.324 0 .179.126.324.281.324h2.811c.155 0 .281-.145.281-.324 0-.178-.126-.324-.28-.324zm3.654-8.095c0-.18-.126-.324-.28-.324H1.967c-.156 0-.282.145-.282.324v5.505s1.742.647 5.06.647c3.318 0 4.254-1.168 4.254-1.168l.805-2.232v-2.752zm-2.81-2.267H4.496v.647h4.497v-.647z" clip-rule="evenodd"></path><path d="M23.669 14.933c.183 0 .331.145.331.324v.33c0 .514-.614.641-1.07.641l-.72-1.295h1.459zm-.955 2.27c.423.769.627 1.459.627 2.375 0 .887-.264 1.64-.666 2.578v1.196a.656.656 0 01-.663.648h-.994a.656.656 0 01-.663-.648v-.647H11.74v.647a.656.656 0 01-.663.648h-.994a.656.656 0 01-.663-.648v-1.196c-.403-.938-.666-1.69-.666-2.578 0-.916.204-1.606.627-2.375.55-.995 1.227-2.236 1.942-3.401.549-.895.836-1.106 1.51-1.223 1.015-.179 1.933-.237 3.214-.237s2.2.058 3.215.236c.674.118.961.329 1.51 1.224.715 1.165 1.392 2.406 1.942 3.401zm-10.643 1.94a.983.983 0 00-.994-.972.983.983 0 00-.994.972c0 .536.445.971.994.971a.983.983 0 00.994-.971zm6.627.647a.328.328 0 00-.331-.324h-4.64a.328.328 0 00-.33.324c0 .179.148.324.33.324h4.64a.328.328 0 00.331-.324zm1.95-3.58s-.491-1.182-1.082-2.034a.887.887 0 00-.575-.367c-1.002-.176-1.88-.232-2.944-.232s-1.941.056-2.943.232a.883.883 0 00-.576.367c-.59.851-1.08 2.035-1.08 2.035 1.086.202 2.855.322 4.6.322 1.744 0 3.513-.12 4.6-.322zm1.364 2.933a.983.983 0 00-.994-.972.983.983 0 00-.994.972c0 .536.445.971.994.971a.983.983 0 00.994-.971zm-12.127-4.21H8.426a.328.328 0 00-.331.324v.33c0 .514.613.641 1.07.641l.72-1.295zM4.771 3.284h-.12c-.026-.144-.141-.251-.28-.251a.268.268 0 00-.175.066c-.026-.18-.168-.318-.339-.318-.167 0-.306.132-.337.306a.318.318 0 00-.177-.054c-.19 0-.343.168-.343.377 0 .208.153.377.343.377H4.77c.127 0 .229-.113.229-.252s-.102-.251-.229-.251zm5-1.006h-.12c-.026-.143-.141-.251-.28-.251a.268.268 0 00-.175.067c-.026-.18-.168-.318-.339-.318-.167 0-.306.131-.337.306a.318.318 0 00-.177-.055c-.19 0-.343.169-.343.377s.153.377.343.377H9.77c.127 0 .229-.112.229-.251s-.102-.252-.229-.252z"></path></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg></div>
                </div>
                <p class="div43">VEHICULES</p>
              </a>
              <a class="div41">
                <div width="56" height="56" class="div45">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="HouseTitleID" style="fill: rgb(58, 164, 255); stroke: rgb(58, 164, 255); stroke-width: 0;"><title id="HouseTitleID">House Icon</title><path d="M1 12V9l11-8 11 8v3h-1.5L12 4.5 2 12H1zm7.5 11v-9.5H15l.5 9.5h-7z"></path><path fill-rule="evenodd" d="M12.836.285a1.37 1.37 0 00-1.672 0L.432 8.475A1.113 1.113 0 000 9.358v2.553c0 .606.474 1.098 1.059 1.098h.554v9.89c0 .608.474 1.1 1.06 1.1h18.655c.584 0 1.058-.492 1.058-1.1v-9.89h.555c.585 0 1.059-.492 1.059-1.098V9.359c0-.35-.16-.678-.432-.885L12.836.284zm2.025 22.25H9.139v-8.792h5.722v8.792zM12 1.465l10.588 8.08v2h-.817l-9.338-7.538-.425-.343-.432.335-9.694 7.546h-.47v-2L12 1.465zM3.025 12.487l8.967-6.98 8.983 7.251v9.777h-4.703v-9.158c0-.607-.474-1.1-1.058-1.1H8.785c-.584 0-1.059.493-1.059 1.1v9.158H3.025V12.487zm11.137 4.797a.735.735 0 00-.72-.748.735.735 0 00-.722.748v1.495c0 .414.323.748.721.748.398 0 .72-.334.72-.748v-1.495z" clip-rule="evenodd"></path><rect width="1" height="2" fill="#EBF5FF" rx=".5"></rect></svg></div>
                </div>
                <p class="div43">IMMOBILIER</p>
              </a>
              <a class="div41">
                <div width="56" height="56" class="div42">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="PourLaMaisonEtJardinTitleID" style="fill: rgb(46, 201, 102); stroke: rgb(46, 201, 102); stroke-width: 0;"><title id="PourLaMaisonEtJardinTitleID">PourLaMaisonEtJardin Icon</title><path d="M16.048.895l.968 9.61c.05.494-.295.895-.771.895H5.91c-.475 0-.82-.4-.77-.895l.967-9.61C6.158.401 6.584 0 7.059 0h8.038c.475 0 .9.4.95.895zM17.967 14.1c0 .497-.385.9-.861.9H5.05c-.475 0-.86-.403-.86-.9v-1.2c0-.497.385-.9.86-.9h12.056c.476 0 .861.403.861.9v1.2zm.135 9.196l-1.3-7.696h-1.165l.81 4.8H5.71l.81-4.8H5.354l-1.3 7.696a.598.598 0 00.466.695c.034.006.068.01.1.01a.582.582 0 00.566-.497l.32-1.904H16.65l.321 1.904a.582.582 0 00.666.487.598.598 0 00.465-.695z"></path></svg></div>
                </div>
                <p class="div43">POUR LA MAISON ET JARDIN</p>
              </a>
              <a class="div41">
                <div width="56" height="56" class="div42">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="TshirtTitleID" style="fill: rgb(46, 201, 102); stroke: rgb(46, 201, 102); stroke-width: 0;"><title id="TshirtTitleID">Tshirt Icon</title><g clip-path="url(#clip0_79_323)"><g clip-path="url(#clip1_79_323)"><path fill-rule="evenodd" d="M19.792 23a1 1 0 01-1 1H6.208a1 1 0 01-1-1V9.587A.963.963 0 003.8 8.733a.963.963 0 01-1.173-.225L.65 6.224a1 1 0 01.098-1.407l5.22-4.57A1 1 0 016.625 0h11.746a1 1 0 01.661.25l5.227 4.603a1 1 0 01.098 1.401l-1.98 2.311a.948.948 0 01-1.18.213.948.948 0 00-1.406.83V23zM8.745 2.16C8.456 1.594 8.932 1 9.568 1h5.872c.633 0 1.11.59.827 1.157C15.605 3.484 14.302 4.5 12.5 4.5c-1.79 0-3.089-1.036-3.755-2.34z" clip-rule="evenodd"></path></g></g><defs><clipPath id="clip0_79_323"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath><clipPath id="clip1_79_323"><path fill="#fff" d="M0 0h25v24H0z"></path></clipPath></defs></svg></div>
                </div>
                <p class="div43">HABILLEMENT ET BIEN ETRE</p>
              </a>
              <a class="div41">
                <div width="56" height="56" class="div42">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="FootballTitleID" style="fill: rgb(46, 201, 102); stroke: rgb(46, 201, 102); stroke-width: 0;"><title id="FootballTitleID">Football Icon</title><g clip-path="url(#clip0_79_324)"><path fill-rule="evenodd" d="M17.422 20.394c-.177-.415-.219-.698-.289-1.118a18.093 18.093 0 001.692-2.204 15.23 15.23 0 002.281-.956 10.032 10.032 0 01-3.684 4.278zm-8.181 1.212c1.039-.558 1.89-1.193 2.831-1.899 1.012.253 2.079.395 3.194.443l.001.007c.083.435.205.803.362 1.153a9.865 9.865 0 01-6.388.296zm-7.24-9.619l1.273 1.217c-.194 1.076-.248 2.069-.234 3.214A9.943 9.943 0 012 12l.001-.013zm11.371-9.882l-.758 1.737c-2.139.56-3.384 1.125-5.214 2.107l-2.863-.586c2.128-2.389 5.337-3.74 8.835-3.258zm-1.804 11.769c-1.083-.726-1.941-1.464-3.466-2.727l.546-3.576c1.446-.848 2.566-1.239 4.477-1.849a40.94 40.94 0 012.934 2.216l-.002.023a20.578 20.578 0 01-.845 4.495 46.06 46.06 0 01-3.644 1.418zM6.81 20.535a10.083 10.083 0 01-1.549-1.164c-.256-1.921-.361-3.89-.003-5.865l.001-.004 1.716-.745c1.211 1.126 2.346 2.004 3.676 2.928l.063 2.525c-1.323 1.046-2.369 1.738-3.904 2.325zm15.108-7.311c-1 .722-1.776 1.225-3.025 1.683L17.159 12.9c.451-1.449.738-3 .866-4.727l2.499-1.381a9.865 9.865 0 011.394 6.432zM12 0C5.377 0 0 5.377 0 12s5.377 12 12 12 12-5.377 12-12S18.623 0 12 0z" clip-rule="evenodd"></path></g><defs><clipPath id="clip0_79_324"><path fill="#fff" d="M0 0h24v24H0z"></path></clipPath></defs></svg></div>
                </div>
                <p class="div43">LOISIRS ET DIVERTISSEMENT</p>
              </a>
              <a class="div41">
                <div width="56" height="56" class="div47">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="BriefcaseTitleID" style="fill: rgb(53, 181, 164); stroke: rgb(53, 181, 164); stroke-width: 0;"><title id="BriefcaseTitleID">Briefcase Icon</title><path d="M22.357 18.639V11.15a3.866 3.866 0 01-2.016.947c-.628.089-1.277.054-1.912.054h-4.49c-.017 0-.034 0-.05-.002v.268c0 .032.002.062 0 .094-.01.175-.15.305-.34.313-.335.015-.675 0-1.012 0H10.9c-.143 0-.286.003-.43 0-.213-.004-.36-.136-.363-.334-.002-.112-.002-.227-.002-.339-.014.002-.03.002-.044.002h-.03c-.638.009-1.278 0-1.916 0H5.27c-.703 0-1.423.041-2.103-.16a4.33 4.33 0 01-.82-.338 3.546 3.546 0 01-.703-.494v8.16c0 .061-.002.122.002.182.047.57.551 1.01 1.172 1.018.152.003.302 0 .455 0h17.883c.684-.002 1.2-.498 1.202-1.122v-.761zM22.35 7.813V7.07c-.044-.565-.545-1.01-1.169-1.018h-5.149V4.44c0-.328-.1-.639-.359-.876-.241-.225-.567-.328-.907-.33H9.36c-.058 0-.117-.003-.173 0-.673.013-1.202.502-1.219 1.122-.014.563-.007 1.13-.002 1.696H2.85c-.314 0-.607.099-.84.298-.224.194-.344.46-.363.738v1.497c0 .065 0 .127.005.192.002.045.007.089.012.134l.002.02c.012.062.021.125.035.185a3.006 3.006 0 00.15.453l.005.01a3.818 3.818 0 00.157.278c.045.07.091.14.143.204.021.028.045.052.063.08l-.007-.013.012.015a3.555 3.555 0 00.436.401c.005.005.012.01.019.013l.058.035-.03-.017c.049.03.096.064.145.095.131.077.267.146.408.207.136.039.063.023.019.008.004.002.007.002.011.005.04.013.078.028.118.038.075.024.15.046.225.065.082.02.164.037.248.052l.084.013.047.004c.209.018.42.013.628.013h5.426c.017 0 .033 0 .05.002v-.52c0-.15-.024-.313.11-.425.114-.097.264-.082.407-.082h2.923c.183.009.312.125.335.287a.099.099 0 01.003.026v.717c.016-.003.032-.003.049-.003h.03c.621-.01 1.242 0 1.861 0h3.863c.1 0 .199-.004.3-.012l.058-.007.073-.01c.082-.016.166-.031.248-.053a3.03 3.03 0 00.242-.069l.11-.039a3.495 3.495 0 00.612-.334l.002-.002c.002-.002.007-.004.007-.007.033-.023.063-.05.094-.073a2.946 2.946 0 00.342-.328c.002-.004.007-.006.01-.01.018-.029.044-.057.065-.083a2.12 2.12 0 00.124-.179c.007-.013.017-.026.024-.036.035-.059.07-.117.1-.177l.045-.087c.058-.142.11-.287.145-.438.012-.047.021-.097.03-.144v-.011c0-.002 0-.004.003-.007a.967.967 0 01.01-.067c.004-.038.006-.08.009-.118l.007-.188v-.427a9.529 9.529 0 01-.007-.358zm-7.483-3.449c0 .002 0 .005.002.005v.002c.003.01.005.017 0 .006-.002.002-.006-.002-.009-.006.012.56.007 1.122.003 1.683H9.137V4.373c-.007.009-.012.01-.014.009-.005.006-.005-.007-.003-.022-.011.013-.018.015 0-.004 0-.009.003-.015.005-.024h-.002.002c.002-.004.002-.01.005-.015-.017 0-.012-.004.002-.007.002-.01.007-.015.007-.002l.016-.002v-.004.002l.026-.004c.01-.01.014-.011.017-.013l-.014.013c.018-.003.032-.003.025.002.003.002 0 .006-.009.013h5.402c.07 0 .139-.002.209 0-.005-.002-.007-.002-.01-.005-.016-.008-.011-.01 0-.013-.007-.004-.004-.004.003 0h.01a.303.303 0 00.002 0c.009 0 .018.003.028.003l.011.002c0-.005 0-.007.003-.007 0 0 .002.002.002.007.021.004.03.008 0 .01v.011l.014.005c-.002 0-.01 0-.014-.003v.003l.012.008-.01-.004c0 .004.003.006.003.01a.107.107 0 00.023.022l-.02-.015v.015z"></path></svg></div>
                </div>
                <p class="div43">EMPLOI ET SERVICES</p>
              </a>
              <a class="div41">
                <div width="56" height="56" class="div47">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="BankLineTitleID" style="fill: rgb(53, 181, 164); stroke: rgb(53, 181, 164); stroke-width: 0;"><title id="BankLineTitleID">BankLine Icon</title><path d="M2 20h20v2H2v-2zm2-8h2v7H4v-7zm5 0h2v7H9v-7zm4 0h2v7h-2v-7zm5 0h2v7h-2v-7zM2 7l10-5 10 5v4H2V7zm2 1.236V9h16v-.764l-8-4-8 4zM12 8a1 1 0 110-2 1 1 0 010 2z"></path></svg></div>
                </div>
                <p class="div43">ENTREPRISES</p>
              </a>
              <a class="div41">
                <div width="56" height="56" class="div46">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px">
                    <svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AutreTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
                      <title id="AutreTitleID">Autre Icon</title>
                      <g clip-path="url(#a)"><path d="M23.722 20.905L21.39 18.41a5.442 5.442 0 00.823-2.903c0-1.394-.508-2.705-1.43-3.69a4.952 4.952 0 00-1.034-.846v-.27h2.374a.958.958 0 00.859-.512 1.1 1.1 0 00-.023-1.05l-3.354-6.1c-.224-.406-.67-.68-1.111-.68H4.61c-.441 0-.888.274-1.111.68L.145 9.14a1.1 1.1 0 00-.022 1.05.955.955 0 00.858.513h2.375v4.72c0 .608.426 1.225.97 1.404l6.368 2.087c.232.076.537.118.858.118.322 0 .626-.042.859-.118l.982-.322c.146.213.308.416.488.608.922.986 2.147 1.53 3.451 1.53.981 0 1.918-.308 2.715-.88l2.331 2.493a.917.917 0 00.672.297.919.919 0 00.672-.297 1.067 1.067 0 000-1.437zM8.084 9.11H1.963l2.836-5.157h6.122L8.084 9.11zm4.114-5.149h6.103l2.827 5.14h-6.103l-2.827-5.14zm2.834 14.007c-1.268-1.356-1.268-3.563 0-4.92a3.129 3.129 0 012.3-1.018c.869 0 1.685.362 2.3 1.019a3.58 3.58 0 01.952 2.46 3.58 3.58 0 01-.952 2.459 3.128 3.128 0 01-2.3 1.018 3.129 3.129 0 01-2.3-1.018z"></path></g>
                      <defs><clipPath id="a">
                        <path fill="#fff" d="M0 0h24v21H0z" transform="translate(0 2)"></path></clipPath></defs></svg></div>
                </div>
                <p class="div43">Autres</p>
              </a>
              <a class="div41">
                <div width="56" height="56" class="div46">
                  <div style="width:32px;height:32px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"><svg class="av-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AuctionTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;"><title id="AuctionTitleID">Auction Icon</title><path d="M11.131 12.662c-.278.293-.547.574-.818.852-.243.248-.492.488-.73.737-.081.084-.127.077-.204-.002-1.879-1.891-3.76-3.78-5.64-5.671-.045-.046-.084-.099-.122-.144C5.539 6.506 7.454 4.59 9.362 2.67c.099-.098.135-.086.226.005 1.865 1.872 3.734 3.744 5.602 5.611.148.149.146.159-.008.31-.494.499-.986 1-1.495 1.517.214.22.435.456.663.686 1.83 1.843 3.66 3.686 5.488 5.53 1.102 1.11 2.204 2.217 3.3 3.328.33.334.53.723.6 1.198.12.826-.463 1.574-1.082 1.829a1.911 1.911 0 01-1.006.117c-.34-.045-.628-.22-.873-.465-1.817-1.817-3.639-3.627-5.45-5.446-1.361-1.36-2.715-2.729-4.073-4.097-.027-.033-.056-.062-.123-.132zm-8.299 8.556l-.343-.276c-.641-.53-.579-1.627.237-2.004.243-.11.538-.139.81-.139a748.26 748.26 0 017.34-.002c.462.002.898.137 1.158.576.33.557.22 1.243-.382 1.622l-.334.209c.005.02.012.036.015.058.05 0 .103-.003.156 0 .47 0 .938.012 1.406-.003.598-.021 1.109.55 1.126 1.111.019.557-.317.968-.723 1.152a1.161 1.161 0 01-.434.09c-.586.011-1.174.009-1.76.009-3.184 0-6.369-.003-9.554.002-.364 0-.676-.098-.945-.343-.427-.384-.466-1.022-.18-1.483.216-.353.523-.54.943-.54.48.002.96 0 1.44 0l.024-.039zM2.585 9.312c.062.06.113.098.158.146 1.894 1.899 3.787 3.795 5.683 5.69.108.106.113.178 0 .282a32.33 32.33 0 00-.85.78c-.378.36-1.127.29-1.492-.08-1.286-1.305-2.585-2.592-3.878-3.888a8.065 8.065 0 01-.574-.624c-.278-.338-.247-.996.043-1.334.286-.334.598-.64.91-.972zm13.67-1.836l-.905-.907c-1.622-1.627-3.242-3.257-4.87-4.88-.122-.122-.12-.184.008-.29.257-.22.511-.444.746-.684.483-.499 1.186-.403 1.616.027 1.428 1.423 2.846 2.856 4.267 4.284.233.235.357.535.353.854a1.18 1.18 0 01-.372.828c-.27.257-.55.502-.843.768z"></path></svg></div>
                </div>
                <p class="div43">VENTE EN DOUANE</p>
              </a>
            </div><button class="div48 div49" type="button"><div style="width:24px;height:24px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div></button></div>
          <div class="=div37">
            <div class="=div50 div13">
              <div class="div51"></div>
            </div>
          </div>

          <div class="ezWmlH">
            <button type="submit" aria-label="Rechercher" class="dnIzMw dBNPnL">
              <span class="cxAEPA iuEbtQ">
                <div style="width:24px;height:24px;background-color:rgba(242, 242, 242,0.2);border-radius:50px">
                  <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="SearchLineTitleID" style="fill: currentcolor; stroke: currentcolor; stroke-width: 0;">
                    <title id="SearchLineTitleID">Rechercher</title>
                    <path d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z"></path>
                  </svg>
                </div>
              </span>Rechercher ( 0 )
            </button>
          </div>
        </div>
      </form>
    </div>


    <section class="u-body u-xl-mode">
      <section class="u-clearfix u-section-2" id="carousel_c5b1">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
          <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-list u-list-1">
            <header class="sc-1ekmeip-0 WDUhM">
              <div class="sc-1ekmeip-1 ciAMXC">
                <h2 class="jqGXrQ">Ces annonces peuvent vous intéresser</h2>
              </div>
              <div class="sc-1ekmeip-2 cWbuBU">
                <a class="sc-1cf7u6r-0 kfrvnK" href="https://www.avito.ma/fr/maroc/%C3%A0_vendre">Voir plus</a>
              </div>
            </header>
            <div class="u-repeater u-repeater-1">

              <div class="u-list-item u-repeater-item u-list-item-2">
                <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
                  <img src="//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/73cc69981f6a5c71a0816542/pexels-photo-1680140.jpeg" alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="1200" data-image-height="1500">
                  <h5 class="u-text u-text-default u-text-4">Surf travel</h5>
                  <p class="u-text u-text-default u-text-5">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                  <h4 class="u-text u-text-default u-text-palette-1-base u-text-6">$ 800</h4>
                  <a href="https://nicepage.review" class="u-btn u-button-style u-btn-2">book now</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
      <section class="u-clearfix u-section-2" id="carousel_c5b1">
                <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                  <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-list u-list-1">
                    <header class="sc-1ekmeip-0 WDUhM">
                      <div class="sc-1ekmeip-1 ciAMXC">
                        <div class="sc-wdregf-0 dgdtMC1">
                          <svg class="av-icon" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AppartementsTitleID" style="fill: rgb(58, 164, 255); stroke: rgb(58, 164, 255); stroke-width: 0;">
                            <title id="AppartementsTitleID">Appartements Icon</title>
                            <path d="M20.448 9.043c.648 0 .96-.825.432-1.237L12.432.776a.684.684 0 00-.888 0L3.12 7.806c-.504.412-.216 1.237.432 1.237h.912v12.994h-.312a.803.803 0 00-.792.8c0 .436.36.8.792.8h15.696a.803.803 0 00.792-.8c0-.437-.36-.8-.792-.8h-.312V9.043h.912zM10.92 19.637c0 .29-.24.533-.528.533h-2.4a.535.535 0 01-.528-.534v-1.405c0-.291.24-.534.528-.534h2.4c.288 0 .528.243.528.534v1.405zm0-4.51c0 .291-.24.534-.528.534h-2.4a.535.535 0 01-.528-.534v-1.406c0-.29.24-.533.528-.533h2.4c.288 0 .528.242.528.533v1.406zm0-4.509c0 .291-.24.534-.528.534h-2.4a.535.535 0 01-.528-.534V9.212c0-.29.24-.533.528-.533h2.4c.288 0 .528.242.528.533v1.406zm5.616 9.019c0 .29-.24.533-.528.533h-2.4a.535.535 0 01-.528-.534v-1.405c0-.291.24-.534.528-.534h2.4c.288 0 .528.243.528.534v1.405zm0-4.51c0 .291-.24.534-.528.534h-2.4a.535.535 0 01-.528-.534v-1.406c0-.29.24-.533.528-.533h2.4c.288 0 .528.242.528.533v1.406zm0-4.509c0 .291-.24.534-.528.534h-2.4a.535.535 0 01-.528-.534V9.212c0-.29.24-.533.528-.533h2.4c.288 0 .528.242.528.533v1.406z"></path>
                          </svg>
                        </div>
                        <h2 class="sc-1x0vz2r-0 jqGXrQ">Nouvelles annonces d'Appartements</h2>
          </div>
          <div class="sc-1ekmeip-2 cWbuBU">
            <a class="sc-1cf7u6r-0 kfrvnK" href="https://www.avito.ma/list?cg=1010&amp;st=s">Voir plus</a>
          </div>
          </header>
            <div class="u-repeater u-repeater-1">
              <% articles =Article.where(category: "avito immobiler") %>
              <%# articles = Article.all %>
              <% articles.each do |article| %>
                <div class="u-list-item u-repeater-item u-list-item-1">
                  <div class="u-container-layout u-similar-container u-container-layout-1">

                    <img src="//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/43df50f2f4ca5d72a851e851/pexels-photo-1450082.jpeg" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1200" data-image-height="1500">
                    <h5 class="u-text u-text-default u-text-1"><%= article.titre %></h5>
                    <p class="u-text u-text-default u-text-2"><%= article.description %></p>
                    <h4 class="u-text u-text-default u-text-palette-1-base u-text-3"><%= article.prix %></h4>
                    <a href="https://nicepage.com/templates" class="u-btn u-button-style u-btn-1">Book now</a>
                    <%= link_to "see more", article , class: "u-btn u-button-style u-btn-1"%>
                  </div>
                </div>

              <% end %>

            </div>
          </div>
        </div>
      </section>

      <section class="sc-4zlgvp-0 dUgBiF">
        <div class="sc-14uxd5m-0 gjQTKF">
          <div class="sc-14uxd5m-1 eRNJNG">
            <div class="slick-slider slick-initialized" dir="ltr">
              <button aria-label="Annonce précédente" class="sc-14uxd5m-2 iocfoN">
                <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ChevronLeftTitleID" style="fill: rgb(102, 102, 102); stroke: rgb(102, 102, 102); stroke-width: 0;">
                  <title id="ChevronLeftTitleID">Annonce précédente</title>
                  </path>
                </svg>
              </button>
              <% articles =Article.where(category: "avito immobiler") %>
              <%# articles = Article.all %>
              <% articles.each do |article| %>
              <div class="slick-list">
                <div class="slick-track" style=" opacity: 1; transform: translate3d(0px, 0px, 0px);">
                  <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline: none; width: 254px; margin-right: 20px;">
                    <div>
                      <div tabindex="-1" style="width: 100%; display: inline-block;">
                      <a href="/vi/52807204.htm" class="sc-9vxnck-1 jCofab">
                        <article width="" class="sc-9vxnck-0 jsog">
                          <header class="sc-16cdwwm-0 dERzOp">
                            <img src="https://avito.ma/images/10/10095639105.jpg" alt="Marbella Beach Appartement à Mohammedia" loading="lazy" class="sc-e64a09-1 jOJhKR">
                            <ul class="sc-16cdwwm-1 eknJhy">
                              <li>
                                <svg class="av-icon" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="CameraTitleID" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;">
                                  <title id="CameraTitleID">6</title>
                                  <path d="M9.3 4h5.4l1.647 1.778H19.2c.99 0 1.8.8 1.8 1.778v10.666C21 19.2 20.19 20 19.2 20H4.8c-.99 0-1.8-.8-1.8-1.778V7.556c0-.978.81-1.778 1.8-1.778h2.853L9.3 4zM12 17.333c2.484 0 4.5-1.99 4.5-4.444 0-2.453-2.016-4.445-4.5-4.445s-4.5 1.992-4.5 4.445c0 2.453 2.016 4.444 4.5 4.444zm0-1.777c1.491 0 2.7-1.194 2.7-2.667 0-1.473-1.209-2.667-2.7-2.667s-2.7 1.194-2.7 2.667c0 1.473 1.209 2.667 2.7 2.667z"></path>
                                </svg>
                                <span class="sc-1x0vz2r-0 vEfXB">6</span>
                              </li>
                              <li>
                                <svg class="av-icon" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ClockHourTitleID" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0;">
                                  <title id="ClockHourTitleID"><%= article.created_at %></title>
                                  <path d="M12 20a8 8 0 008-8 8 8 0 00-8-8 8 8 0 00-8 8 8 8 0 008 8m0-18a10 10 0 0110 10 10 10 0 01-10 10C6.47 22 2 17.5 2 12A10 10 0 0112 2m.5 5v5.25l4.5 2.67-.75 1.23L11 13V7h1.5z"></path>
                                </svg>
                                <span class="sc-1x0vz2r-0 vEfXB"><%= article.created_at %></span>
                              </li>
                            </ul>
                          </header>
                          <main class="sc-y47dj6-0 bewgcf">
                            <div class="sc-y47dj6-1 cSVwaR"><%= article.prix %> Dhs</div>
                            <div class="sc-y47dj6-2 jYxtLu"><%= article.description %></div>
                          </main>
                        </article>
                      </a>
                    </div>
                    </div>
                  </div>


                  </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
    </section>


      <section class="u-clearfix u-section-2" id="carousel_c5b1">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
          <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-list u-list-1">
            <header class="sc-1ekmeip-0 WDUhM">
              <div class="sc-1ekmeip-1 ciAMXC">
                <div class="sc-wdregf-0 dgdtMC2">
                  <svg class="av-icon" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="VoituresTitleID" style="fill: rgb(255, 76, 89); stroke: rgb(255, 76, 89); stroke-width: 0;">
                    <title id="VoituresTitleID">Voitures Icon</title>
                    <path d="M23.5 7a.5.5 0 01.5.5v.511c0 .793-.926.989-1.616.989l-1.086-2H23.5zm-1.441 3.506c.639 1.186.946 2.252.946 3.666 0 1.37-.397 2.533-1.005 3.981V20a1 1 0 01-1 1h-1.5a1 1 0 01-1-1v-1h-13v1a1 1 0 01-1 1H3a1 1 0 01-1-1v-1.847C1.392 16.705.995 15.542.995 14.172c0-1.414.307-2.48.946-3.666.829-1.537 1.851-3.453 2.93-5.252.828-1.382 1.262-1.707 2.278-1.889C8.681 3.09 10.067 3 12 3c1.933 0 3.319.09 4.851.365 1.016.182 1.45.507 2.278 1.889 1.079 1.799 2.101 3.715 2.93 5.252zM6 13.5a1.5 1.5 0 10-3.001.001A1.5 1.5 0 006 13.5zm10 1a.5.5 0 00-.5-.5h-7a.5.5 0 000 1h7a.5.5 0 00.5-.5zm2.941-5.527s-.74-1.826-1.631-3.142a1.337 1.337 0 00-.869-.566c-1.511-.272-2.835-.359-4.441-.359-1.606 0-2.93.087-4.441.359a1.33 1.33 0 00-.869.566c-.891 1.315-1.631 3.142-1.631 3.142 1.64.313 4.309.497 6.941.497 2.632 0 5.301-.184 6.941-.497zM21 13.5a1.5 1.5 0 10-3.001.001A1.5 1.5 0 0021 13.5zM2.702 7H.5a.5.5 0 00-.5.5v.511C0 8.804.926 9 1.616 9l1.086-2z"></path>
                  </svg>
                </div>
                <h2 class="sc-1x0vz2r-0 jqGXrQ">Nouvelles annonces de Voitures</h2>
              </div>
              <div class="sc-1ekmeip-2 cWbuBU">
                <a class="sc-1cf7u6r-0 kfrvnK" href="https://www.avito.ma/list?cg=1010&amp;st=s">Voir plus</a>
              </div>
            </header>

          </div>
        </div>
      </section>


      <section class="u-clearfix u-section-2" id="carousel_c5b1">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
          <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-list u-list-1">
            <header class="sc-1ekmeip-0 WDUhM">
              <div class="sc-1ekmeip-1 ciAMXC">
                <div class="sc-wdregf-0 dgdtMC3">
                  <svg class="av-icon" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="TelephonesTitleID" style="fill: rgb(46, 201, 102); stroke: rgb(46, 201, 102); stroke-width: 0;">
                    <title id="AppartementsTitleID">Appartements Icon</title>
                    <path d="M20 2a2 2 0 00-2-2H8a2 2 0 00-2 2v20a2 2 0 002 2h10a2 2 0 002-2V2zm-8.5 0h3a.5.5 0 010 1h-3a.5.5 0 010-1zM13 22a1 1 0 110-2 1 1 0 010 2zm5-3H8V4.976h10V19z"></path>                  </svg>
                </div>
                <h2 class="sc-1x0vz2r-0 jqGXrQ">Nouvelles annonces de Telephone</h2>
              </div>
              <div class="sc-1ekmeip-2 cWbuBU">
                <a class="sc-1cf7u6r-0 kfrvnK" href="https://www.avito.ma/list?cg=1010&amp;st=s">Voir plus</a>
              </div>
            </header>

          </div>
        </div>
      </section>


      <section class="u-clearfix u-section-2" id="carousel_c5b1">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
          <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-list u-list-1">
            <header class="sc-1ekmeip-0 WDUhM">
              <div class="sc-1ekmeip-1 ciAMXC">
                <div class="sc-wdregf-0 dgdtMC4">
                  <svg class="av-icon" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AppartementsTitleID" style="fill: rgb(58, 164, 255); stroke: rgb(58, 164, 255); stroke-width: 0;">
                    <title id="AppartementsTitleID">Appartements Icon</title>
                    <path d="M22.738 15.33l-3.264-2.969a2.273 2.273 0 00-1.356-.591l-.916-.035V10.55h.891c.543 0 .798-.705.393-1.084l-7.918-7.432a1.033 1.033 0 00-1.428 0L1.222 9.466c-.405.38-.15 1.085.393 1.085h.891v9.635c0 .169.13.305.29.305h5.437v-4.104c0-.106.081-.191.182-.191h2.879c.1 0 .181.085.181.19v4.105h1.654c.029.01.058.02.09.02h8.473a.276.276 0 00.268-.283V16.31h.567c.467 0 .624-.725.21-.98zM6.863 14.316a.187.187 0 01-.182.191H4.367a.187.187 0 01-.182-.191v-2.538c0-.106.081-.192.182-.192H6.68c.1 0 .182.086.182.192v2.538zm2.99-8.455c.716 0 1.296.61 1.296 1.362 0 .752-.58 1.362-1.295 1.362s-1.295-.61-1.295-1.362c0-.752.58-1.362 1.295-1.362zm1.34 8.455a.187.187 0 01-.182.191H8.697a.187.187 0 01-.181-.191v-2.538c0-.106.081-.192.181-.192h2.314c.1 0 .182.086.182.192v2.538zm4.33 0a.187.187 0 01-.181.191h-2.314a.187.187 0 01-.182-.191v-2.538c0-.106.082-.192.182-.192h2.314c.1 0 .182.086.182.192v2.538z"></path>                  </svg>
                </div>
                <h2 class="sc-1x0vz2r-0 jqGXrQ">Nouvelles annonces de Maisons et Villas</h2>
              </div>
              <div class="sc-1ekmeip-2 cWbuBU">
                <a class="sc-1cf7u6r-0 kfrvnK" href="https://www.avito.ma/list?cg=1010&amp;st=s">Voir plus</a>
              </div>
            </header>

          </div>
        </div>
      </section>






  <button aria-label="Annonce suivante" class="sc-14uxd5m-2 flvSyr">
    <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ChevronRightTitleID" style="fill: rgb(102, 102, 102); stroke: rgb(102, 102, 102); stroke-width: 0;">
      <title id="ChevronRightTitleID">Annonce suivante</title>
      <path d="M8.59 16.58L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z"></path>
    </svg></button></section></div></div></div></section>
  <div>
    <div class="sc-dopnsa-0 joGhmp">
      <button type="button" class="sc-ibbrkc-0 sc-1rof308-0 kCvJti ddpSZS">
        <h2 class="sc-1x0vz2r-0 gngNnT">Recherches populaires</h2>
        <svg class="av-icon" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ChevronUpTitleID" style="fill: rgb(74, 74, 74); stroke: rgb(74, 74, 74); stroke-width: 0;">
          <title id="ChevronUpTitleID">ChevronUp Icon</title>
          <path d="M16.6 15.7L12 11.1l-4.6 4.6L6 14.3l6-6 6 6-1.4 1.4z"></path>
        </svg>
      </button>
      <div class="sc-levrxp-0 inLKIs">
        <div class="sc-14auffm-0 erbPGt">
          <div class="velw-links">
            <div class="velw-title">
              Recherches populaires
            </div>
            <div>
              <div class="velw-links-box">
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=pfiscale:8-cv">Renault Clio 8 cv</a>
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=pfiscale:7-cv">Renault Clio 7 cv</a>
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=pfiscale:4-cv">Renault Clio 4 cv</a>
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=pfiscale:9-cv">Renault Clio 9 cv</a>
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=pfiscale:16-cv">Renault Clio 16 cv</a>
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=annee:2019">Renault Clio 2019</a>
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=annee:2003">Renault Clio 2003</a>
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=annee:2007">Renault Clio 2007</a>
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=annee:2001">Renault Clio 2001</a>
                <a class="velw-link" href="https://www.avito.ma/sp/renault/clio?f=annee:2013">Renault Clio 2013</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sc-dopnsa-0 frZTiZ">
      <button type="button" class="sc-ibbrkc-0 sc-1rof308-0 kCvJti ddpSZS">
        <h2 class="sc-1x0vz2r-0 gngNnT">Villes populaires</h2>
        <svg class="av-icon" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ChevronDownTitleID" style="fill: rgb(74, 74, 74); stroke: rgb(74, 74, 74); stroke-width: 0;">
          <title id="ChevronDownTitleID">ChevronDown Icon</title>
          <path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"></path>
        </svg>
      </button>
      <div class="sc-levrxp-0 hmMrSw">
        <div class="sc-1y0k9qz-0 fUSgnC">
          <ul class="sc-1y0k9qz-1 xlBDP">
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/Casablanca" class="sc-1y0k9qz-3 fBfbEr">Casablanca</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/Agadir" class="sc-1y0k9qz-3 fBfbEr">Agadir</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/Rabat" class="sc-1y0k9qz-3 fBfbEr">Rabat</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/Al Hoceïma" class="sc-1y0k9qz-3 fBfbEr">Al Hoceïma</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Marrakech" class="sc-1y0k9qz-3 fBfbEr">Marrakech</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/Meknès" class="sc-1y0k9qz-3 fBfbEr">Meknès</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/Nador" class="sc-1y0k9qz-3 fBfbEr">Nador</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/Tanger" class="sc-1y0k9qz-3 fBfbEr">Tanger</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/Béni Mellal" class="sc-1y0k9qz-3 fBfbEr">Béni Mellal</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/El Jadida" class="sc-1y0k9qz-3 fBfbEr">El Jadida</a>
            </li>
            <li class="sc-1y0k9qz-2 gipSpe">
              <a href="/fr/Errachidia" class="sc-1y0k9qz-3 fBfbEr">Errachidia</a>
            </li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Fès" class="sc-1y0k9qz-3 fBfbEr">Fès</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Kénitra" class="sc-1y0k9qz-3 fBfbEr">Kénitra</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Oujda" class="sc-1y0k9qz-3 fBfbEr">Oujda</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/khénifra" class="sc-1y0k9qz-3 fBfbEr">khénifra</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Khouribga" class="sc-1y0k9qz-3 fBfbEr">Khouribga</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Larache" class="sc-1y0k9qz-3 fBfbEr">Larache</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Ouarzazate" class="sc-1y0k9qz-3 fBfbEr">Ouarzazate</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Safi" class="sc-1y0k9qz-3 fBfbEr">Safi</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Taza" class="sc-1y0k9qz-3 fBfbEr">Taza</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Tétouan" class="sc-1y0k9qz-3 fBfbEr">Tétouan</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Settat" class="sc-1y0k9qz-3 fBfbEr">Settat</a></li><li class="sc-1y0k9qz-2 gipSpe"><a href="/fr/Salé" class="sc-1y0k9qz-3 fBfbEr">Salé</a></li></ul></div></div></div><div class="sc-dopnsa-0 frZTiZ"><button type="button" class="sc-ibbrkc-0 sc-1rof308-0 kCvJti ddpSZS"><h2 class="sc-1x0vz2r-0 gngNnT">Voitures neuves</h2><svg class="av-icon" height="19" width="19" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ChevronDownTitleID" style="fill: rgb(74, 74, 74); stroke: rgb(74, 74, 74); stroke-width: 0;"><title id="ChevronDownTitleID">ChevronDown Icon</title><path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"></path></svg></button><div class="sc-levrxp-0 hmMrSw"><div class="sc-cdf9vr-0 eUTZWT"><ul class="sc-cdf9vr-1 hlmThK"><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/renault/clio/" class="sc-cdf9vr-3 hMmDxi">RENAULT CLIO</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/dacia/dokker/" class="sc-cdf9vr-3 hMmDxi">DACIA DOKKER</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/dacia/logan/" class="sc-cdf9vr-3 hMmDxi">DACIA LOGAN</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/dacia/sandero/" class="sc-cdf9vr-3 hMmDxi">DACIA SANDERO</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/dacia/duster/" class="sc-cdf9vr-3 hMmDxi">DACIA DUSTER</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/renault/kangoo/" class="sc-cdf9vr-3 hMmDxi">RENAULT KANGOO</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/peugeot/208/" class="sc-cdf9vr-3 hMmDxi">PEUGEOT 208</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/citroen/c3/" class="sc-cdf9vr-3 hMmDxi">CITROEN C3</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/nissan/qashqai/" class="sc-cdf9vr-3 hMmDxi">NISSAN QASHQAI</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/hyundai/tucson/" class="sc-cdf9vr-3 hMmDxi">HYUNDAI TUCSON</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/toyota/yaris/" class="sc-cdf9vr-3 hMmDxi">TOYOTA YARIS</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/hyundai/accent/" class="sc-cdf9vr-3 hMmDxi">HYUNDAI ACCENT</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/volkswagen/caddy/" class="sc-cdf9vr-3 hMmDxi">VOLKSWAGEN CADDY</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/peugeot/partner/" class="sc-cdf9vr-3 hMmDxi">PEUGEOT PARTNER</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/hyundai/i20/" class="sc-cdf9vr-3 hMmDxi">HYUNDAI I20</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/peugeot/3008/" class="sc-cdf9vr-3 hMmDxi">PEUGEOT 3008</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/citroen/berlingo/" class="sc-cdf9vr-3 hMmDxi">CITROEN BERLINGO</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/fiat/fiorino/" class="sc-cdf9vr-3 hMmDxi">FIAT FIORINO</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/dacia/lodgy/" class="sc-cdf9vr-3 hMmDxi">DACIA LODGY</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/skoda/octavia/" class="sc-cdf9vr-3 hMmDxi">SKODA OCTAVIA</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/peugeot/301/" class="sc-cdf9vr-3 hMmDxi">PEUGEOT 301</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/volkswagen/tiguan/" class="sc-cdf9vr-3 hMmDxi">VOLKSWAGEN TIGUAN</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/volkswagen/touareg/" class="sc-cdf9vr-3 hMmDxi">VOLKSWAGEN TOUAREG</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/ford/kuga/" class="sc-cdf9vr-3 hMmDxi">FORD KUGA</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/renault/koleos/" class="sc-cdf9vr-3 hMmDxi">RENAULT KOLEOS</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/ford/fiesta/" class="sc-cdf9vr-3 hMmDxi">FORD FIESTA</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/fiat/doblo/" class="sc-cdf9vr-3 hMmDxi">FIAT DOBLO</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/seat/leon/" class="sc-cdf9vr-3 hMmDxi">SEAT LEON</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/nissan/micra/" class="sc-cdf9vr-3 hMmDxi">NISSAN MICRA</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/volkswagen/golf/" class="sc-cdf9vr-3 hMmDxi">VOLKSWAGEN GOLF</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/citroen/c elysee/" class="sc-cdf9vr-3 hMmDxi">CITROEN C ELYSEE</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/hyundai/creta/" class="sc-cdf9vr-3 hMmDxi">HYUNDAI CRETA</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/fiat/500/" class="sc-cdf9vr-3 hMmDxi">FIAT 500</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/opel/astra/" class="sc-cdf9vr-3 hMmDxi">OPEL ASTRA</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/toyota/c-hr/" class="sc-cdf9vr-3 hMmDxi">TOYOTA C-HR</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/renault/megane/" class="sc-cdf9vr-3 hMmDxi">RENAULT MEGANE</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/seat/ateca/" class="sc-cdf9vr-3 hMmDxi">SEAT ATECA</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/fiat/tipo/" class="sc-cdf9vr-3 hMmDxi">FIAT TIPO</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/jeep/renegade/" class="sc-cdf9vr-3 hMmDxi">JEEP RENEGADE</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/peugeot/308/" class="sc-cdf9vr-3 hMmDxi">PEUGEOT 308</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/hyundai/grand i10/" class="sc-cdf9vr-3 hMmDxi">HYUNDAI GRAND I10</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/peugeot/2008/" class="sc-cdf9vr-3 hMmDxi">PEUGEOT 2008</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/toyota/corolla/" class="sc-cdf9vr-3 hMmDxi">TOYOTA COROLLA</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/ford/ecosport/" class="sc-cdf9vr-3 hMmDxi">FORD ECOSPORT</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/volkswagen/jetta/" class="sc-cdf9vr-3 hMmDxi">VOLKSWAGEN JETTA</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/skoda/kodiaq/" class="sc-cdf9vr-3 hMmDxi">SKODA KODIAQ</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/opel  /grandland x/" class="sc-cdf9vr-3 hMmDxi">OPEL   GRANDLAND X</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/bmw/serie 5/" class="sc-cdf9vr-3 hMmDxi">BMW SERIE 5</a></li><li class="sc-cdf9vr-2 hqRdOD"><a href="https://www.avito.ma/auto/neuf/skoda/fabia/" class="sc-cdf9vr-3 hMmDxi">SKODA FABIA</a></li></ul></div></div></div></div></div>




  <div class="div50">
    <div>
      <div class="joGhmp"><button type="button" class="kCvJti ddpSZS"><h2 class="gngNnT">Recherches populaires</h2><div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div></button>
        <div
          class="inLKIs"></div>
      </div>
      <div class="frZTiZ"><button type="button" class="kCvJti ddpSZS"><h2 class="gngNnT">Villes populaires</h2><div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div></button>
        <div
          class="div54">
          <div class="fUSgnC">
            <ul class="xlBDP">
              <li class="div52"><a href="/fr/Casablanca" class="div53">Casablanca</a></li>
              <li class="div52"><a href="/fr/Rabat" class="div53">Rabat</a></li>
              <li class="div52"><a href="/fr/Al Hoceïma" class="div53">Al Hoceïma</a></li>
              <li class="div52"><a href="/fr/Marrakech" class="div53">Marrakech</a></li>
              <li class="div52"><a href="/fr/Meknès" class="div53">Meknès</a></li>
              <li class="div52"><a href="/fr/Nador" class="div53">Nador</a></li>
              <li class="div52"><a href="/fr/Tanger" class="div53">Tanger</a></li>
              <li class="div52"><a href="/fr/Béni Mellal" class="div53">Béni Mellal</a></li>
              <li class="div52"><a href="/fr/El Jadida" class="div53">El Jadida</a></li>
              <li class="div52"><a href="/fr/Errachidia" class="div53">Errachidia</a></li>
              <li class="div52"><a href="/fr/Fès" class="div53">Fès</a></li>
              <li class="div52"><a href="/fr/Kénitra" class="div53">Kénitra</a></li>
              <li class="div52"><a href="/fr/Oujda" class="div53">Oujda</a></li>
              <li class="div52"><a href="/fr/khénifra" class="div53">khénifra</a></li>
              <li class="div52"><a href="/fr/Khouribga" class="div53">Khouribga</a></li>
              <li class="div52"><a href="/fr/Larache" class="div53">Larache</a></li>
              <li class="div52"><a href="/fr/Ouarzazate" class="div53">Ouarzazate</a></li>
              <li class="div52"><a href="/fr/Safi" class="div53">Safi</a></li>
              <li class="div52"><a href="/fr/Taza" class="div53">Taza</a></li>
              <li class="div52"><a href="/fr/Tétouan" class="div53">Tétouan</a></li>
              <li class="div52"><a href="/fr/Settat" class="div53">Settat</a></li>
              <li class="div52"><a href="/fr/Salé" class="div53">Salé</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="frZTiZ"><button type="button" class="kCvJti ddpSZS"><h2 class="gngNnT">Voitures neuves</h2><div style="width:19px;height:19px;background-color:rgba(242, 242, 242,0.2);border-radius:50px"></div></button>
        <div class="div54">
          <div class="eUTZWT">
            <ul class="hlmThK">
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/renault/clio/" class="div56">RENAULT CLIO</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/dacia/dokker/" class="div56">DACIA DOKKER</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/dacia/logan/" class="div56">DACIA LOGAN</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/dacia/sandero/" class="div56">DACIA SANDERO</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/dacia/duster/" class="div56">DACIA DUSTER</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/renault/kangoo/" class="div56">RENAULT KANGOO</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/peugeot/208/" class="div56">PEUGEOT 208</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/citroen/c3/" class="div56">CITROEN C3</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/nissan/qashqai/" class="div56">NISSAN QASHQAI</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/hyundai/tucson/" class="div56">HYUNDAI TUCSON</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/toyota/yaris/" class="div56">TOYOTA YARIS</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/hyundai/accent/" class="div56">HYUNDAI ACCENT</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/volkswagen/caddy/" class="div56">VOLKSWAGEN CADDY</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/peugeot/partner/" class="div56">PEUGEOT PARTNER</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/hyundai/i20/" class="div56">HYUNDAI I20</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/peugeot/3008/" class="div56">PEUGEOT 3008</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/citroen/berlingo/" class="div56">CITROEN BERLINGO</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/fiat/fiorino/" class="div56">FIAT FIORINO</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/dacia/lodgy/" class="div56">DACIA LODGY</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/skoda/octavia/" class="div56">SKODA OCTAVIA</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/peugeot/301/" class="div56">PEUGEOT 301</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/volkswagen/tiguan/" class="div56">VOLKSWAGEN TIGUAN</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/volkswagen/touareg/" class="div56">VOLKSWAGEN TOUAREG</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/ford/kuga/" class="div56">FORD KUGA</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/renault/koleos/" class="div56">RENAULT KOLEOS</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/ford/fiesta/" class="div56">FORD FIESTA</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/fiat/doblo/" class="div56">FIAT DOBLO</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/seat/leon/" class="div56">SEAT LEON</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/nissan/micra/" class="div56">NISSAN MICRA</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/volkswagen/golf/" class="div56">VOLKSWAGEN GOLF</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/citroen/c elysee/" class="div56">CITROEN C ELYSEE</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/hyundai/creta/" class="div56">HYUNDAI CRETA</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/fiat/500/" class="div56">FIAT 500</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/opel/astra/" class="div56">OPEL ASTRA</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/toyota/c-hr/" class="div56">TOYOTA C-HR</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/renault/megane/" class="div56">RENAULT MEGANE</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/seat/ateca/" class="div56">SEAT ATECA</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/fiat/tipo/" class="div56">FIAT TIPO</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/jeep/renegade/" class="div56">JEEP RENEGADE</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/peugeot/308/" class="div56">PEUGEOT 308</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/hyundai/grand i10/" class="div56">HYUNDAI GRAND I10</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/peugeot/2008/" class="div56">PEUGEOT 2008</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/toyota/corolla/" class="div56">TOYOTA COROLLA</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/ford/ecosport/" class="div56">FORD ECOSPORT</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/volkswagen/jetta/" class="div56">VOLKSWAGEN JETTA</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/skoda/kodiaq/" class="div56">SKODA KODIAQ</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/opel  /grandland x/" class="div56">OPEL GRANDLAND X</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/bmw/serie 5/" class="div56">BMW SERIE 5</a></li>
              <li class="div55"><a href="https://www.avito.ma/auto/neuf/skoda/fabia/" class="div56">SKODA FABIA</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>