<div class="div4 div9">
  <div class="div57">
    <%= link_to home_path, class: 'div10' do %>
      <%= image_tag 'new_logo.png', width: '120px', height: '56px' %>
    <% end %>
  </div>

  <div class="div57">
    <ul class="lpgvXh">
      <li class="kssYdG">
        <a class="hSCkb">العربية<svg class="av-icon kWnQBx" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="TranslateTitleID" style="fill: rgb(74, 74, 74); stroke: rgb(74, 74, 74); stroke-width: 0;">
          <title id="TranslateTitleID">Translate Icon</title>
          <path d="M5.164 14.12l-.534 1.308H2.714l3.162-7.094h1.917l3.09 7.094h-1.99l-.524-1.307H5.164zm1.613-3.992l-1.068 2.625h2.115l-1.047-2.625z"></path>
          <path fill-rule="evenodd" d="M2.74 3h18.52C22.77 3 24 4.19 24 5.652v12.696C24 19.811 22.77 21 21.26 21H2.74C1.23 21 0 19.81 0 18.348V5.652C0 4.19 1.229 3 2.74 3zm0 16.607H12V4.394H2.74c-.717 0-1.3.564-1.3 1.258v12.697c0 .693.583 1.258 1.3 1.258zM20.2 8.284h-1.6c-.24 0-.467.028-.68.083-1.227.458-1.84 1.276-1.84 2.456 0 .527.12.985.36 1.373v.042a.308.308 0 00-.16.041c-.613.333-.92.819-.92 1.457 0 .215.027.423.08.624.26.75.753 1.124 1.48 1.124h2.4l.08-.042c-.393-.804-.82-1.207-1.28-1.207h-1.28c-.193 0-.327-.11-.4-.333.027-.332.16-.499.4-.499h3.28c.053 0 .08-.028.08-.083v-1.082c0-.049-.027-.077-.08-.083h-1.88c-.547 0-.907-.417-1.08-1.25 0-.138.013-.207.04-.207 0-.569.373-.957 1.12-1.166h.72c.427 0 .84-.388 1.24-1.165 0-.048-.027-.076-.08-.083z" clip-rule="evenodd"></path>
        </svg>
        </a>
      </li>
      <li class="kssYdG lpgvXh">
        <div class="cuydXe">
          <div class="dropdown">
            <% if logged_in? %>
                <button class="kuMwvb" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="dXJDdB">
                    <%= image_tag("avatar.svg", class:"bDLTq")%>
                    <span class="jCmISv">
                      <% @utilisateur= utilisateur_courant %>
                      <span dir="auto"><%= @utilisateur.nom %></span>
                    </span>
                  </span>
                  <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ChevronDownTitleID" style="fill: currentcolor; stroke: currentcolor; stroke-width: 0;">
                    <title id="ChevronDownTitleID">ChevronDown Icon</title>
                    <path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"></path>
                  </svg>
                </button>
                <div class="dropdown-menu esOVzu" aria-labelledby="dropdownMenuButton">

                  <%= link_to "Mes annonces", utilisateur_path(utilisateur_courant) , class: "dropdown-item sc-ib9oyi-4 eJbqCI sc-ib9oyi-5 kALhsE" %>

                  <a class="dropdown-item" href="#">
                    <button class="sc-ib9oyi-4 eJbqCI">

                      <span class="sc-ib9oyi-5 kALhsE">Mes commandes</span>
                    </button>
                  </a>
                  <a class="dropdown-item" href="#">
                    <button class="sc-ib9oyi-4 eJbqCI">

                      <span class="sc-ib9oyi-5 kALhsE">Mes favoris</span>
                    </button>
                  </a>
                  <a class="dropdown-item" href="#">
                    <button class="sc-ib9oyi-4 eJbqCI">

                      <span class="sc-ib9oyi-5 kALhsE">Chat</span>
                    </button>
                  </a>

                    <%= link_to "Réglages", edit_utilisateur_path(utilisateur_courant), class: "dropdown-item sc-ib9oyi-4 eJbqCI sc-ib9oyi-5 kALhsE" %>


                  <%= link_to "Se déconnecter", logout_path, method: "delete" ,class: "dropdown-item sc-ib9oyi-4 eJbqCI sc-ib9oyi-5 kALhsE"  %>

                </div>
            <% else %>

              <%#= link_to login_path, method: :get, class: 'hYNCBD' do %>
<!--                <button class="kuMwvb" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                  <span class="dXJDdB">-->
<!--                      <span dir="auto" class="jCmISv">SE CONNECTER</span>-->
<!--                  </span>-->
<!--                </button>-->
              <%#end %>

              <%= link_to "SE CONNECTER" , login_path,   {:style=>'', :class => "kuMwvb dXJDdB jCmISv "}  %>

            <% end %>
          </div>
        </div>
      </li>

      <%= link_to new_article_path, class: 'kssYdG' do%>
      <button type="button" class="sc-uoqswv-0 sc-uoqswv-1 sc-uoqswv-2 fhWmiT bmkHgG sc-w1tc37-0 bxiPto">
              <span class="sc-uoqswv-5 sc-uoqswv-6 cxAEPA iuEbtQ">
                <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AddTitleID" style="fill: currentcolor; stroke: currentcolor; stroke-width: 0;">
                  <title id="AddTitleID">Add Icon</title>
                  <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z"></path>
                </svg>
              </span>Déposer une annonce
      </button>
      <% end %>
    </ul>
  </div>
</div>